/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #130808;
    color: #333;
}

header {
    background-color: #333;
    color: #28d818;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #e41010;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: #c9b3b3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #8fcd1c;
    position: fixed;
    width: 100%;
    bottom: 0;
}