body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(60, 169, 219);
}

header {
  background: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: #ce5f5f;
  margin: 0 10px;
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.product {
  border: 1px solid #b11010;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  width: 200px;
}

.product img {
  max-width: 100%;
  height: auto;
}

button {
  background: #28a745;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  background: #435446;
}
